/* 首页部分 */
body, html{
	background: none !important;
}

body{
	background-color: #333 !important;
}

#body, #sidebar #float{
	border-color: #444 !important;
	background: none !important;
}

/*输入框*/
#content .title, #content .f, #sidebar form input, #commentform textarea, #content ol, .comments, .tucao-form input, .tucao-form textarea{
	background-color: #222 !important;
	border-color: #444 !important;
	border-bottom-color: #444 !important;
	color: #999 !important;
}

a, a:link, a:visited{
	color: #aaa !important;
}

.hot-tabs .current-tab{
	background-color: #666 !important;
}


#sidebar form, #content .title, .tucao-hot-title, .tucao-row{
	background-color: #333 !important;
	border-bottom-color: #444 !important;
}

/*带边框的玩意儿*/
#sidebar ul, .hot-tabs li, .hot-tabs li, #footer, .commentlist .row, .cp-pagenavi, 
.cp-pagenavi .current-comment-page, #commentform textarea, #commentform #submit, #sidebar ol, 
.hot-tabs, .hot-tabs .hot-tab, #content .post h1, #sidebar .s_related li, .jandan-tucao,
.tucao-form button, .commentlist .row, .tucao-row, .jandan-tucao, .tucao-hot, .tucao-form button{
	border-color: #444 !important;
}

.host-list-split{
	background-color: #444 !important;
}

.acv_author, .acv_comment, p{
	background-color: #333 !important;
}

.acv_author a, span.tucao-id{
	color: #777 !important;
}

p, .tucao-hot-title{
	color: #999 !important;
}

#content .title a{
	color: #999 !important;
}

/*文本专用*/
#content .post .indexs, #sidebar li a, #content .post .indexs{
	color: #aaa !important;
}

/*文章链接*/
#content .post h1 a, .post h2 a, #sidebar .s_title{
	color: #f86 !important;
}

/*链接悬停*/
.post h2 a:hover, #sidebar li a:hover{
	color: #9af !important;
}

.hot-tabs li, .hot-tabs li{
	color: #ccc !important;
}

.hot-tabs .current, .hot-tabs li.current{
	background-color: #444 !important;
	color: #ccc !important;
}

/*翻页按钮*/
.cp-pagenavi a, #commentform #submit, .tucao-form button{
	background-color: #555 !important;
	color: #aaa !important;
}

.jandan-vote a.like, .tucao-vote a.like{
	color: #c55 !important;
}

.jandan-vote a.unlike, .tucao-vote a.unlike{
	color: #55c !important;
}

#nav_top{
	color: #333 !important;
	background-color: #666 !important;
}

#nav_next a, #nav_prev a{
	color: #666 !important;
}

.wp-pagenavi a{
	background-color: #444 !important;
	color: #bbb !important;
}

#content .post p{
	background: none !important;
}

#content .post p a, #content .post p a:link, #content .post p a:visited, strong, b{
	color: #ccc !important;
	border-bottom: none !important;
	text-decoration: none !important;
}

.orange-name, .orange-name a, .tucao-tip-author{
	color: #f75 !important;
}

.blue-name, .blue-name a{
	color: #57f !important;
}

#content p{
	background: none !important;
}

#header .logo h1 a{
	background: url("chrome-extension://jofbkojlngeibijcefbcaidbeiefbclj/images/logo-2015-night.gif") no-repeat scroll 0 0 transparent !important;
}

#content .post blockquote {
	background-color: #333 !important;
    border-left: 5px solid #555 !important;
}

.star-rating.flat .total_votes{
	color: #ddd !important;
	background-color: #974 !important;
}

.post a.jandan-zan{
	background-color: #56a !important;
}